<h1 class="text-center mt-4">Create a new category</h1>

<div class="container">
  
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'form' %>
    </div>
    <div class=" text-center mb-5 p-5">
      <%= link_to '[Cancel and return to categories listing]', categories_path, class: "text-info mb-5" %>
    </div>
  </div>
</div>